{% extends "_base_page.html" %}

{% block page_title %}{{ brief.title }} question and answer session details – Digital Marketplace{% endblock %}

{% block breadcrumbs %}
    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Digital Marketplace",
          "href": "/"
        }, {
          "text": "Your account",
          "href": url_for("external.supplier_dashboard")
        }
      ]
    }) }}
{% endblock %}

{% block main_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ "‘{}’ question and answer session details".format(brief.title) }}</h1>

    <div class="padding-bottom-small">
      <p>
        {{ brief.questionAndAnswerSessionDetails }}
      </p>
    </div>

    <a href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">Return to {{ brief.title }}</a>
  </div>
</div>
{% endblock %}
